#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
.wordle-container {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

.input-container {
    margin: 20px;
}

input {
    padding: 10px;
    font-size: 18px;
    width: 150px;
    text-transform: uppercase;
}

button {
    padding: 10px 15px;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

.history {
    margin-top: 20px;
}

.reset-btn {
    margin-top: 20px;
    background: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.computer-solver {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ccc;
}
